<div>
    <mat-card class="card-configs" [ngStyle]="{'display': this.isVisible ? 'block' : 'none'}">
        <mat-card-header>
            <mat-icon class="foto">person</mat-icon>
            <mat-card-title>Olá, {{usuario.nome}}!</mat-card-title>
        </mat-card-header>
        <p class="line"></p>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Nova senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="novaSenha">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button class="botao-verde">ALTERAR SENHA</button>
        </mat-card-content>
        <p class="line"></p>
        <mat-card-actions>
            <button mat-raised-button class="botao-roxo" routerLink="/telaprincipal/metas">GERENCIAR METAS <mat-icon class="icon-button">dns</mat-icon></button>
            <button mat-raised-button class="botao-roxo" (click)="deslogar()">SAIR <mat-icon class="icon-button">exit_to_app</mat-icon></button>
            <button mat-raised-button class="botao-vermelho" (click)="apagarConta()">APAGAR CONTA <mat-icon class="icon-button">delete_forever</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>