<app-header></app-header>
<app-menu></app-menu>
<section>
    <div>
        <h1>CADASTRAR META DE COPOS DE ÁGUA</h1>
        <p></p>
        <img src="./assets/imgs/agua.jpeg">
        <mat-form-field appearance="outline">
            <mat-label>Quantidade de copos de água</mat-label>
            <input matInput [(ngModel)]="usuario.metaDAgua" >
        </mat-form-field>
        <button mat-raised-button (click)="atualizarMeta()">CADASTRAR</button>
    </div>
    <div>
        <h1>CADASTRAR META DE METROS PERCORRIDOS</h1>
        <p></p>
        <img src="./assets/imgs/corrida.jpeg">
        <mat-form-field appearance="outline">
            <mat-label>Quantidade de metros percorridos</mat-label>
            <input matInput [(ngModel)]="usuario.metros" >
        </mat-form-field>
        <button mat-raised-button (click)="atualizarMetro()">CADASTRAR</button>
    </div>
</section>
<app-footer></app-footer>