.card-diaria{
    margin:10px;
    width: 400px;
    background-color:rgb(243, 250, 248) ;
}

.div-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-card-actions{
    display:flex;
    justify-content: space-around;
}

.bEdit, .bShare {
    background-color: #00ac73;
    color:white;
    text-align: center;
}

.bDelet {
    background-color: #ff0000;
    color:white;
    text-align: center;
}

.icons-card {
    padding-left: 6px;
}